{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-unused-vars": "off"
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"]
}
